:root {
  --color-primary: #126187;
  --color-secondary: #f07437;
  --color-tertiary: #51ae30;
  --color-background: #fff;
  --color-border: #000;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-modal-background: #fefefe;
  --color-close: #aaa;
  --color-close-hover: #000;
  --color-tooltip: #010810;
  --color-timeline-connector: #010810;
  --color-time-item: #b61a1a;
}
.tg-1 {
  border: 2px var(--color-border);
  font-size: 94%;
  font-weight: 700;
  left: 35px;
  position: relative;
  right: auto;
  pointer-events: none;
  top: 14px;
}

.timeline-container {
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 26px;
  box-shadow: 0 2px 10px var(--color-shadow);
  display: flex;
  flex-direction: column;
  height: 245px;
  padding: 0px;
  position: absolute;
  right: 0;
  width: 430px;
  z-index: 1000;
}

@media (max-width: 500px) {
  .timeline-container {
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 26px;
    box-shadow: 0 2px 10px var(--color-shadow);
    display: flex;
    flex-direction: column;
    height: 245px;
    padding: 0px;
    position: absolute;
    right: 0;
    width: 430px;
    z-index: 1000;
  }
}

@media (max-width: 468px) {
  .timeline {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 219px;
    left: 0%;
    justify-content: space-around;
    position: relative;
    right: -1px;
    width: 100%;
  }
}

.timeline {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 219px;
  right: 0%;
  justify-content: space-around;
  position: relative;
  right: -1px;
  width: 100%;
}

.timeline::before,
.timeline::after {
  content: "";
  position: absolute;
  bottom: 46.4%;
  height: 15px;
  width: 40%; 
  z-index: 1;
}

.timeline::before {
  left: 75px;
  background: var(--color-primary); 
  width: 32%;
}

.timeline::after {
  right: 64px;
  background: var(--color-secondary); /* Color for the right half */
}

.timeline-item {
  display: flex;
  flex-direction: column;
  right: 0%;
  align-items: center;
  position: relative;
  flex: 1;
  margin: 0;
}

.timeline-circle {
  width: 65px;
  height: 68px;
  right: 0%;
  border-radius: 50%;
  background: var(--color-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: bold;
  margin: 0 10px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.timeline-item:nth-child(1) .timeline-circle {
  background: var(--color-primary);
  pointer-events: none;
  left: 0%;
}

.timeline-item:nth-child(2) .timeline-circle {
  background: var(--color-secondary);
  left: 0%;
}

.timeline-item:nth-child(3) .timeline-circle {
  background: var(--color-tertiary);
  pointer-events: none;
  left: 0%;
}

.timeline-content {
  text-align: start;
  margin-bottom: 10px;
}

.timeline-item:nth-child(1)::before {
  display: none;
}

.timeline-item:nth-child(3)::after {
  display: none;
}

/* Styles for modal */
@media (max-width: 275px) {
  .modal {
    align-items: center;
    background-color: var(--color-background);
    display: flex;
    height: 221px;
    justify-content: center;
    left: 16px;
    overflow: hidden;
    position: absolute;
    top: 12px;
    width: 95%;
    z-index: 1001;
  }
}

.modal {
  align-items: center;
  background-color: var(--color-background);
  display: flex;
  height: 221px;
  justify-content: center;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 12px;
  width: 95%;
  z-index: 1001;
}

@media (max-width: 275px) {
  .modal-content {
    background-color: var(--color-modal-background);
    margin: 0 auto;
    padding: 20px;
    border: 0px solid black;
    box-shadow: silver;
    width: 161px; /* Adjust width for responsiveness */
    max-width: 600px;
    height: 90%;
    max-height: 500px;
    position: relative;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative; /* Ensure positioning context for ::before */
  }
}

.modal-content {
  background-color: var(--color-modal-background);
  margin: 0 auto;
  padding: 20px;
  border: 0px solid black;
  box-shadow: silver;
  width: 90%; /* Adjust width for responsiveness */
  max-width: 600px;
  height: 90%;
  max-height: 500px;
  position: relative;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative; /* Ensure positioning context for ::before */
}

.modal-content::before {
  background: var(--color-primary);
  bottom: -270%;
  content: "";
  left: 115px;
  position: absolute;
  top: 17px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1px;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.close {
  color: var(--color-close);
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: -22px;
  right: -11px;
}

.close:hover,
.close:focus {
  color: var(--color-close-hover);
  text-decoration: none;
  cursor: pointer;
}

.time-container {
  position: relative;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.timeline-connector {
  position: absolute;
  width: 2px;
  background: var(--color-timeline-connector); /* Color matching the blue dots */
  top: 0;
  bottom: 0;
  left: 165px; /* Adjust to align with the blue dots */
  z-index: 1;
}

.time-item::after {
  position: absolute;
  width: 2px;
  background: var(--color-time-item);
  top: 0;
  bottom: 0;
  left: 185px;
  z-index: 1;
}

.time-item {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 9px;
  padding: 3px 17px;
  position: relative;
  right: -1px;
  width: 100%;
  top: -47px;
}

.time-item::before {
  background: var(--color-primary);
  border-radius: 100%;
  content: "";
  height: 7px;
  left: 94.1px;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 7px;
  z-index: 2;
}
.time-age {
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 7px;
  margin-right: 11px;
  padding: 10px;
  position: relative;
  pointer-events: none;
  text-align: center;
  width: 80px;
}

.time-content {
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  margin-right: 14px;
  pointer-events: none;
  padding: 11px;
  position: relative;
  text-align: center;
  width: 100%;
}

.time-header {
  font-weight: bold;
}

.time-text {
  margin: 5px 0;
}

.timeline-arrow {
  align-items: center;
  color: var(--color-border);
  cursor: pointer;
  display: flex;
  font-size: 24px;
  height: 30px;
  justify-content: center;
  position: absolute;
  width: -11px;
  z-index: 2;
}

.arrow-1 {
  color: white;
  font-size: 7.4px;
  font-weight: bold;
  left: calc(33% - 21px);
  top: calc(48.8% - 11px);
  pointer-events: none;
}

p {
  font-size: 8.4px;
  font-style: normal;
  pointer-events: none;
}

.arrow-2 {
  color: white;
  font-size: 8px;
  font-weight: bold;
  left: calc(65.5% - 21px);
  top: calc(48.5% - 11px);
  pointer-events: none;
}

.alterArrow {
  font-size: 0.8vw;
  left: calc(35% - 21px);
  top: calc(51.6% - 11px);
  color: white;
}

.alterArrow-2 {
  font-size: 0.8vw;
  left: calc(68.5% - 21px);
  top: calc(51.6% - 11px);
  color: white;
}

body {
  font-size: 1.5vw;
}

@media only screen and (max-width: 760px) {
  body {
    font-size: 2vw;
  }
}

.timelineLeft {
  font-size: 0.8vw;
}

.tooltips {
  color: var(--color-tooltip);
  font-size: 8px;
  font-weight: 700;
  left: 12px;
  text-align: center;
  top: 12px;
  width: 100%;
  border: 1px var(--color-border);
}

.modal-body {
  height: 277px;
}

